@font-face {
  font-family: "Helvetica";
  src: url(/assets/fonts/Helvetica.woff);
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url(/assets/fonts/Helvetica-Bold.woff);
}

@font-face {
  font-family: "Helvetica-Light";
  src: url(/assets/fonts/helvetica-light-587ebe5a59211.woff);
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter-Medium";
  src: url(/assets/fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: "Inter-Semi-Bold";
  src: url(/assets/fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: "Inter-Bold";
  src: url(/assets/fonts/Inter-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*background-color:  #f3f3edfe; */
  color: #101010eb;
}

::selection {
  color: black;
  background: #101010eb;
}

html {
  scroll-behavior: smooth;
}

.sticky-cta-link {
  height: 10rem;
  width: 10rem;
  scale: 1;
  transition: all 0.1s ease-in-out;
}

.sticky-cta-link:hover {
  scale: 1.1;
}

a {
  display: inline-block;
  position: relative;
  color: #101010eb;
  z-index: 99999999999999;
  text-decoration: none;
}
a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.body-text {
  font-family: "Inter";
  font-size: 1rem;
  line-height: 2.5rem;
}

.page-wrap {
  width: 100%;
  max-width: 1920px;
  padding-right: 3rem;
  padding-left: 3rem;
}

.navbar {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  background-color: #f3f3edfe;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 999999999;
}

.nav-brand {
  padding-left: 1rem;
}

.hidde {
  display: none;
}

.nav-brand>a {
  font-family: "Helvetica", sans-serif;
  text-decoration: none !important;
  color: #101010eb;
  font-size: 0.9rem;
}

.nav-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  gap: 1.5rem;
}

.nav-menu-wrap>a {
  z-index: 9999999999999999;
  text-decoration: none;
  font-size: 1.1rem;
  color: #1b1b1beb;
  font-family: "Inter", sans-serif;
 
  transition: all .2s ease-in-out;
}

.nav-menu-wrap>a:hover {
  color: #353434eb;
  border-bottom: 1px solid #353434eb;
}


.scrolled {
  display: block;
}

.page-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  padding-right: 2rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

section {
  background-color: #f3f3edfe;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.is--landing {
  height: 100%;
  align-self: center;
}

.hero-landing {
  padding-bottom: 1.5rem;
}

.hero-wrap {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.sticky-cta {
  opacity: -1;
  width: 10rem;
  position: fixed;
  z-index: 9999;
  mix-blend-mode: difference;
  animation: hide .2s ease-in-out forwards;
  animation-delay: .1s;
  animation-timeline: view();
}

@keyframes hide {
  to {
    opacity: 1;
  }

}
.word{
  overflow-y: hidden;
}
.char{
  transform: translateY(268px);
  transition: transform .3s ease-in-out forwards;
}

.heroh1 {
  font-family: "Helvetica", sans-serif;
  font-size: 8.6vw;
  font-weight: 600;
  color: #101010eb;
  white-space: nowrap;
  line-height: 8vw;
}

.hero-bottom {
  width: 100%;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ptext-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: flex-end;
  overflow: hidden;
}

.hero-p {
  color: #101010eb;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(50rem);
  animation: fadeinUp 1s forwards;
  animation-delay: 2s;
}
@keyframes fadeinUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-btn {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.hero-btn a {
  text-decoration: none;
  color: #353434eb;
  border: 1px solid #353434eb;
  border-radius: 100px;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-family: "Inter", "sans-serif";
  /*font-size: 0.8rem;*/
  transition: background-color .2s ease-in-out;
}

.hero-btn a:hover {
  background-color: #101010eb;
  color: #f3f3edfe;
}

.is--about {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.is--ab {
  height: auto;
  align-self: center;
}

.about-top {
  padding-top: 3rem;
}

.tag-wrap {
  border-top: 0.7px solid #464646eb;
  padding-top: 2rem;
}

.tag-wrap>h2 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #101010eb;
}

.about-content {
  height: 100%;
  padding-top: 5rem;
}
.centered{
  display: flex;
  justify-content: center;
}

/*.abt-text{
  color: hsl(0 0% 100% / 0.2 );
  background-image: linear-gradient(90deg,#101010eb,#101010eb);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: textReveal linear forwards;
  animation-timeline: view();
}

@keyframes textReveal {
  to{
    background-size: 100% 100%;
  }
}*/


.about-content>p {
  width: 55%;
  color: #101010eb;
 /* float: right;*/
  font-weight: 400;
  font-size: 2em;
  line-height: 1.5;
}

.cool-img {
  width: 5rem;
}

.marquee {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.marquee-content {
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  color: #101010eb;
}

.rotating-circle {
  z-index: 9999;
  position: fixed;
  transition: 0.6s ease-out;
  transform: rotate(0deg);
  animation: roate 0.9s linear infinite forwards;
  mix-blend-mode: difference;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.scroll-stopped .rotating-circle {
  transform: rotate(0deg);
  animation-play-state: paused;
}

.window-scrolling .rotating-circle {
  transform: rotate(360deg);
}

.scroll {
  animation: scroll 30s linear infinite;
}

.reverse {
  animation-direction: reverse;
}

.marquee-content>h1 {
  flex-shrink: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.7rem;
  padding-bottom: 0.9rem;
  padding-left: 0.8rem;
}

.projects {
  height: auto;
  padding-top: 3rem;
}

.project-cards-wrap {
  padding-top: 3rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.project-card {
  padding-bottom: 2rem;
}

.project-card img {
  width: 100%;
  filter: brightness(1);
  border-radius: 10px;
  scale: 1;
  transition: all 0.4s ease-in-out;
}

.project-card img:hover {
  width: 100%;
  filter: brightness(0.8);
  border-radius: 10px;
  scale: 1.01;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Inter";
  color: #101010eb;
  padding-top: 0.7rem;
}

.card-eyebrows-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-title>p {
  font-size: 1.5rem;
  font-weight: 550;
}

.project-date>p,
.project-service>p {
  font-size: 0.8rem;
}

.footer {
  overflow: hidden;
  height: auto;
  padding-bottom: 2rem;
}

.is--footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-top {
  border-top: 0.7px solid #101010eb;
  padding-top: 3rem;
}

.footer-top>h2 {
  font-size: 1.7em;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.footer-mid>a {
  font-family: "Helvetica";
  font-size: 14.34vw;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
}

.footer-links {
  display: flex;
  gap: 1rem;
}

.footer-links>a {
  text-decoration: none;
}

.footer-links>a:hover {
  color: #353434eb;
}

.is-project-page {
  display: flex;
  justify-content: center;
}

.is-project-grids {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.is--projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-page-wrap {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.project-title-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.topic{
  text-decoration: underline;
}
.detail-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3em;
  padding-right: 3em;
}
.title-bottom {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
  padding-bottom: 2rem;
}

.project-title {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 5rem;
}

.project-category {
  font-family: "Inter";
  font-size: 1rem;
}

.header-img {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.header-img>img {
  width: 100%;
  border-radius: 10px;
}

.project-grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.for-grids {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.project-img-wrap {
  width: 35rem;
  height: 35rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.teams-grid {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: end;
  float: right;
  padding-bottom: 3rem;
}

/* 2xl */
@media (max-width: 1920px) {
  .page-wrap {
    max-width: 95%;
  }
}


  /* xl */
  @media (max-width: 1288px) {
    .page-wrap {
      max-width: 100%;
    }

    .footer-mid>a {
      font-size: 13.6vw;
    }

    .about-content>p {
      width: 100%;
      float: none;
    }

    .nav-brand {
      padding: 0;
    }

    .heroh1 {
      font-size: 8.8vw;
    }

    .project-grids {
      grid-template-columns: 1fr 1fr;
    }

    .project-img-wrap {
      width: 29rem;
      height: 30rem;
    }

    .header-img {
      width: 60rem;
    }

  }

  /* lg */
  @media (max-width: 1024px) {
    .page-wrap {
      max-width: 100%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .is--about {
      overflow: hidden;
    }

    .heroh1 {
      font-size: 8.7vw;
      line-height: 1.2;
    }

    .hero-wrap {
      padding-top: 4rem;
      padding-bottom: 2rem;
    }

    .about-content>p {
      float: none;
      width: 100%;
      font-size: 1.3rem;
      line-height: 1.5em;
    }

    .navbar {
      padding-right: 1.7rem;
      padding-left: 1.7rem;
    }

    .is--about {
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 9rem;
      align-items: center;
    }

    .card-details {
      gap: 0;
    }

    .project-grids {
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
    }

    .header-img {
      width: 100%;
    }

    /*.footer-mid > a {
    font-size: 14.8vw;
  }*/
    .project-date>p,
    .project-service>p {
      font-size: 0.9rem;
    }

    .scroll {
      animation: scroll 700s linear infinite;
    }

    .reverse {
      animation-direction: reverse;
    }

    @keyframes scroll {
      from {
        transform: translateX(0);
      }

      to {
        transform: translateX(calc(-90% - 1rem));
      }
    }
  }

  /* md */
  @media (max-width: 768px) {
    .page-wrap {
      max-width: 100%;
      padding-left: 1.3rem;
      padding-right: 1.3rem;
    }

    .marquee-content {
      padding: 0;
    }

    .marquee-content>h1 {
      font-size: 2rem;
    }

    .sticky-cta,
    .sticky-cta-link {
      width: 8rem;
    }

    .ptext-wrap {
      overflow: visible;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1rem;
      align-content: flex-end;
    }

    .scroll {
      animation: scroll 800s linear infinite;
    }

    .reverse {
      animation-direction: reverse;
    }

    .navbar {
      width: 100%;
      max-width: 1536px;
      padding: 1.5rem 1.5rem 1rem 1.5rem;
      background-color: #f3f3edfe;
      display: flex;
      justify-content: center;
    }

    .project-grids {
      grid-template-columns: 1fr;
    }

    .project-img-wrap {
      width: 33rem;
      height: 30rem;
    }

    .project-title {

      font-size: 4rem;
    }

    .header-img {
      width: 33rem;
    }

    .is--about {
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 5rem;
    }

    .project-cards-wrap {
      padding-top: 3rem;
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr;
      justify-content: center;
    }

    .hero-bottom {
      width: 100%;
      margin-top: 4rem;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 2rem;
    }

    .footer-top>h2 {
      font-size: 1.3rem;
      font-family: "Inter", sans-serif;
      font-weight: 500;
    }

    .footer-mid>a {
      font-size: 13.5vw;
    }

    .message {
      display: none;
    }

    .project-title>p {
      font-size: 2rem;
      font-weight: 550;
    }

    .project-date>p,
    .project-service>p {
      font-size: 1.3rem;
    }

    .about-content {
      padding-top: 2.5rem;
    }

    .body-text {
      font-size: 1rem;
    }

    .footer-bottom {
      display: flex;
      justify-content: space-between;
      font-family: "Inter";
      flex-direction: row;
      align-items: center;
    }

    .about-content>p {
      width: 100%;
      float: none;
      color: #101010eb;
      font-weight: 400;
      font-size: 1.4rem;
    }

    .tag-wrap>h2 {
      font-family: "Inter", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      color: #101010eb;
      line-height: 2.5rem;
    }

    .nav-left {
      display: flex;
      gap: 2rem;
    }

    .nav-menu-wrap>a {
      text-decoration: none;
      font-size: 0.9em;
      color: #101010eb;
      font-family: "Inter", sans-serif;
    }
    .nav-menu-wrap>a:hover{
      color: #1b1b1ba3;
    }

    .heroh1 {
      overflow: hidden;
      font-family: "Helvetica", sans-serif;
      font-size: 8.7vw;
      font-weight: 600;
      color: #101010eb;
      white-space: nowrap;
    }

    .ptext-wrap {
      overflow: visible;
    }

    .hero-btn a {
      font-size: 1rem;
    }

    .hero-wrap {
      padding-top: 3rem;
    }

    .nav-brand>a {
      font-size: 0.9rem;
    }

    .hero-p {
      font-size: 1.5rem;
    }
  }


  /* sm */
  @media (max-width: 640px) {
    .page-wrap {
      max-width: 100%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    section {
      width: 100%;
    }

    .marquee-content {
      padding: 0;
    }

    .marquee-content>h1 {
      font-size: 2rem;
    }

    .sticky-cta,
    .sticky-cta-link {
      width: 8em;
      height: 8rem;
    }

    .project-cards-wrap {
      padding-top: 3rem;
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr;
      justify-content: center;
    }

    .footer-mid>a {
      font-size: 13vw;
    }

    .footer-links>a {
      font-size: 0.7rem;
    }

    .about-content>p {
      width: 100%;
      font-size: 2em;
      float: none;
      line-height: 1.5;
    }

    .nav-mid {
      display: none;
    }

    .copyright>p {
      font-size: 0.7rem;
    }

    .footer-bottom {
      display: flex;
      justify-content: space-between;
      font-family: "Inter";
      /*flex-direction: column-reverse;*/
      align-items: center;
      gap: 1.1rem;
    }

    .hero-bottom {
      width: 100%;
      margin-top: 4rem;
      display: flex;
      flex-direction: column-reverse;
      gap: 3rem;
    }

    .hero-p {
      color: #101010eb;
      font-family: "Inter", sans-serif;
      font-size: 22px;
      white-space: wrap;
    }

    .hero-btn a {
      text-decoration: none;
      color: #101010eb;
      border: 1px solid #101010eb;
      border-radius: 100px;
      padding: 1rem 1.5rem 1rem 1.5rem;
      font-family: "Inter", "sans-serif";
      font-size: 1rem;
    }

    .heroh1 {
      white-space: wrap;
      font-size: 8.5vw;
      line-height: 1;
    }

    .hero-wrap {
      padding-top: 2rem;
      gap: 0;
    }

    .tag-wrap>h2 {
      font-size: 1.4rem;
    }

    .project-title>p {
      font-size: 20px;
    }

    .project-date>p,
    .project-service>p {
      font-size: 12px;
    }

    .message {
      display: none;
    }

    .project-grids {
      grid-template-columns: 1fr;
    }

    .project-img-wrap {
      width: 33rem;
      height: 30rem;
    }

    .project-title {

      font-size: 4rem;
    }

    .header-img {
      width: 33rem;
    }

  }

  @media (max-width: 617px) {

    .heroh1 {
      font-size: 8.4vw;
    }
  }

  @media (max-width: 600px) {
    .footer-mid>a {
      font-size: 13.4vw;
    }

    .marquee-content {
      padding: 0;
    }

    .marquee-content>h1 {
      font-size: 2rem;
    }

    .heroh1 {
      font-size: 8.4vw;
    }
  }

  @media (max-width: 518px) {
    .footer-mid>a {
      font-size: 8vw;
    }

    .heroh1 {
      font-size: 8.4vw;
    }
  }

  @media (max-width: 482px) {
    .footer-mid>a {
      font-size: 8vw;
    }

    .heroh1 {
      font-size: 8.4vw;
    }
  }

  /* xs */
  @media (max-width: 475px) {
    section {
      width: 100%;
    }

    .marquee-content {
      padding: 0;
    }

    .marquee-content>h1 {
      font-size: 2rem;
    }

    .sticky-cta,
    .sticky-cta-link {
      width: 8rem;
      height: 8rem;
    }

    .project-cards-wrap {
      padding-top: 3rem;
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr;
      justify-content: center;
    }

    .footer-links>a {
      text-decoration: none;
      text-align: center;
    }

    .nav-menu-wrap>a {
      font-size: 15px;
    }

    .footer-mid>a {
      font-size: 13.5vw;
    }

    .nav-brand>a {
      font-size: 8px;
    }

    .nav-mid {
      display: none;
    }

    .footer-mid>a {
      font-size: 12vw;
      text-align: center;
    }

    .footer-bottom {
      display: flex;
      justify-content: space-between;
      font-family: "Inter";
      flex-direction: column-reverse;
      align-items: center;
      gap: 1.1rem;
    }

    .footer-top>h2 {
      font-size: 1.7em;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      text-align: center;
    }

    .about-content>p {
      width: 100%;
      font-size: 1.5em;
      float: none;
      line-height: 1.8;
    }

    .is--about {
      gap: 3rem;
    }

    .hero-bottom {
      width: 100%;
      margin-top: 4rem;
      display: flex;
      flex-direction: column-reverse;
      gap: 3rem;
    }

    .hero-landing {
      padding-bottom: 0;
    }

    .hero-p {
      overflow: hidden;
      color: #101010eb;
      font-family: "Inter", sans-serif;
      font-size: 19px;
      white-space: wrap;
    }

    .hero-btn a {
      text-decoration: none;
      color: #101010eb;
      border: 1px solid #101010eb;
      border-radius: 100px;
      padding: 1rem 1.5rem 1rem 1.5rem;
      font-family: "Inter", "sans-serif";
      font-size: 18px;
    }

    .heroh1 {
      white-space: wrap;
      font-size: 8vw;

    }

    .hero-wrap {
      padding-top: 2rem;
      gap: 0;
    }

    .nav-inner {
      padding-left: 0;
    }

    .navbar {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .nav-brand>a {
      font-size: 10px;
    }

    .tag-wrap>h2 {
      font-size: 0.9rem;
      line-height: 1.2rem;
    }

    .project-service>p,
    .project-date>p {
      font-size: 0.8rem;
    }

    .project-title>p {
      font-size: 1.5rem;
    }

    .message {
      display: none;
    }
  }

  @media (max-width: 390px) {
    

    .project-title>p {
      font-size: 19px;
    }

    .hero-p {
      overflow: hidden;
      color: #101010eb;
      font-family: "Inter", sans-serif;
      font-size: 17px;
      white-space: nowrap;
    }

    .footer-mid>a {
      font-size: 12vw;
      text-align: center;
    }

    .marquee-content {
      padding: 0;
    }

    .marquee-content>h1 {
      font-size: 2rem;
    }
  }


  @media (max-width: 375px) {
    .footer-top>h2 {
      font-size: 1.7em;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      text-align: center;
    }

    .hero-p {
      overflow: hidden;
      color: #101010eb;
      font-family: "Inter", sans-serif;
      font-size: 13px;
      white-space: wrap;
    }

    .footer-mid>a {
      font-size: 12vw;
      text-align: center;
    }

    .marquee-content {
      padding: 0;
    }

    .marquee-content>h1 {
      font-size: 2rem;
    }
  }